.subscription-form {
  position: relative;
}

.subscription-section {
  z-index: 2;
  position: relative;
}

@media (min-width: 768px) {
  .subscription-form {
    margin-top: 18px;
  }
}

.subscription-form .email-form {
  display: block;
  margin: 0 0 24px;
}

@media (min-width: 768px) {
  .subscription-form .email-form {
    float: left;
    width: 66.4%;
    margin: 0;
  }
}

.subscription-form .wpcf7-form-control {
  border: 0; }
  .subscription-form .wpcf7-form-control::-webkit-input-placeholder {
    color: #8696a8; }
  .subscription-form .wpcf7-form-control::-moz-placeholder {
    opacity: 1;
    color: #8696a8; }
  .subscription-form .wpcf7-form-control:-moz-placeholder {
    color: #8696a8; }
  .subscription-form .wpcf7-form-control:-ms-input-placeholder {
    color: #8696a8; }
  .subscription-form .wpcf7-form-control.placeholder {
    color: #8696a8; }

.subscription-form input[type="submit"] {
  width: 100%; }

  @media (min-width: 768px) {
    .subscription-form input[type="submit"] {
      float: right;
      width: 30%; } }

.subscription-form .wpcf7-submit {
  margin-top: 0;
}

.subscription-form p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .subscription-form p {
    margin-bottom: 24px;
  }
}

.widget_wysija_cont .updated,
.widget_wysija_cont .login .message {
  background: #0288d1;
  color: #fff;
  border-color: #fff;
}

#sidebar .subscription-form .email-form {
  float: left;
  width: 100%;
  margin: 0 0 10px;
}

#sidebar .subscription-form input[type="submit"] {
  float: none;
  width: 100%;
}

#sidebar .subscription-form p {
  margin-bottom: 0;
}

.wpcf7-not-valid-tip {
  display: none !important;
}

.ajax-loader {
  display: none !important;
}

.wpcf7-response-output {
  margin: 5px 0 0 0 !important;
  padding: 10px !important;
  width: 100% !important;
  border: 4px solid #fff !important;
  background: #e64e3f !important;
  color: #fff !important;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.wpcf7-response-output.wpcf7-mail-sent-ok {
  background: #b9f6ca !important;
  color: #1b5e20 !important;
}