/*
Theme Name: Compensation2Go Aktiv
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: compensation2go
Tags: one-column, two-columns
Theme URI:
*/
.slick-track {
	display: flex !important;
	flex-direction: row;
	flex-wrap: nowrap;
}

.testimonials-slider:not(.slick-initialized) {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.testimonials-slider:not(.slick-initialized) .slide {
	width: calc(100% / 3);
}

.testimonials-slider:not(.slick-initialized) .slide:nth-of-type(n+4) {
	display: none;
}

.logos-list,
.benefits-list,
.info-box .list,
.post-box .list,
.leader-section .list,
.share-list,
.compensation-list,
.declaration-list,
.check-list,
.circle-list,
.rating-list,
.nav-drop ul,
.nav-footer ul,
.autocompete-drop,
.slick-slider .slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
.widget:after,
.search-form:after,
.post-password-form:after,
.search-form p:after,
.post-password-form p:after,
.logos-holder:after,
.logos-list:after,
.post-box .list:after,
.valuation-box:after,
.tabset .tab-holder:after,
.subscription-form:after,
.table-box .time-holder:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap;
	/* 1 */
	text-overflow: ellipsis;
	/* 2 */
	overflow: hidden;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	min-width: 320px;
}

a {
	transition: color .3s ease;
}

iframe {
	max-width: 100%;
}

.resize-active * {
	transition: none !important;
}

.container-fluid {
	max-width: 1190px;
}

.img-responsive {
	margin: 0 auto;
}

h1 {
	line-height: 1.2;
	margin: 0 0 12px;
	letter-spacing: 1px;
}

@media (min-width: 768px) {
	h1 {
		font-size: 36px;
		line-height: 1.28;
	}
}

h2 {
	margin: 0 0 15px;
	color: #7087a2;
	text-align: center;
	font-weight: 600;
}

@media (min-width: 768px) {
	h2 {
		font-size: 26px;
		line-height: 1.1;
		margin-bottom: 32px;
	}
}

h3 {
	line-height: 1.29;
	margin: 0 0 10px;
	font-weight: 600;
}

#content h3 {
	margin-top: 20px;
}

h6,
h5,
h4 {
	font-weight: 900;
}

strong {
	font-weight: 900;
}

p {
	margin: 0 0 24px;
}

#content:only-child {
	float: none;
	width: 100%;
}

#content img {
	max-width: 100%;
	height: auto;
}

.widget {
	margin-bottom: 24px;
}

.widget select {
	min-width: 150px;
}

.search-form label,
.post-password-form label {
	display: block;
}

.search-form input,
.post-password-form input {
	float: left;
	margin-right: 5px;
	max-width: 135px;
}

.search-form input[type="submit"],
.post-password-form input[type="submit"] {
	margin: 0;
}

#sidebar .search-form input,
#sidebar .post-password-form input {
	font-size: 12px;
	line-height: 18px;
	padding: 0 10px;
}

.navigation,
.navigation-comments {
	margin: 0 -3px 18px;
	position: relative;
	vertical-align: middle;
}

.navigation .screen-reader-text,
.navigation-comments .screen-reader-text {
	left: -99999px;
	position: absolute;
}

.navigation .page-numbers,
.navigation-comments .page-numbers {
	margin: 0 3px;
}

.nav-links,
.navigation-comments,
.navigation-single {
	margin-bottom: 18px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.nav-links .next,
.nav-links .prev,
.navigation-comments .next,
.navigation-comments .prev,
.navigation-single .next,
.navigation-single .prev {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}

.nav-links .next a,
.nav-links .prev a,
.navigation-comments .next a,
.navigation-comments .prev a,
.navigation-single .next a,
.navigation-single .prev a {
	display: block;
	color: #52688e;
}

.nav-links .next a:hover,
.nav-links .prev a:hover,
.navigation-comments .next a:hover,
.navigation-comments .prev a:hover,
.navigation-single .next a:hover,
.navigation-single .prev a:hover {
	color: #0288d1;
}

.navigation-single {
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.comment-form label {
	display: block;
	padding-bottom: 4px;
}

.comment-form input,
.comment-form textarea {
	margin: 0 4px 0 0;
	width: 100%;
}

@media (min-width: 768px) {
	.comment-form input,
	.comment-form textarea {
		max-width: 300px;
	}
}

.comment-form input[type="submit"],
.comment-form textarea[type="submit"] {
	display: block;
	width: auto;
}

.comment-form textarea {
	overflow: auto;
	margin: 0;
	height: 120px;
	min-height: 120px;
}

.commentlist {
	margin: 0 0 1.2em;
}

.commentlist .edit-link {
	margin: 0;
}

.commentlist .avatar-holder {
	float: left;
	margin: 0 1.2em 4px 0;
}

.commentlist-item .commentlist-item {
	padding: 0;
}

@media (min-width: 768px) {
	.commentlist-item .commentlist-item {
		padding: 0 0 0 2em;
	}
}

.comment,
.commentlist-holder {
	overflow: hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
	padding-top: 20px;
}

.widget_calendar th,
.widget_calendar td {
	text-align: center;
}

.widget_calendar #prev {
	text-align: left;
}

.widget_calendar #next {
	text-align: right;
}

.wp-caption {
	max-width: 100%;
	clear: both;
	border: 1px solid #213347;
	padding: 4px;
	margin-bottom: 20px;
	text-align: center;
}

.wp-caption img {
	margin-bottom: 4px;
}

.wp-caption p {
	margin: 0;
}

.aligncenter {
	margin: 0 auto 18px;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin: 0 1.2em 4px 0;
}

.alignright {
	float: right;
	margin: 0 0 4px 1.2em;
}

.mejs-container {
	margin-bottom: 18px;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
	height: auto;
}

.wp-post-image {
	margin-bottom: 10px;
}

#wp-calendar {
	width: 100%;
}

.post {
	margin: 0 0 25px;
}

@media (min-width: 768px) {
	.post {
		margin-bottom: 45px;
	}
}


/*
body:before {
    opacity: 1;
    visibility: visible;
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s, visibility .3s;
    background: url("images/loader.gif") no-repeat;
    width: 74px;
    height: 74px;
    z-index: 200;
}

body:after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 150;
    transition: opacity .3s, visibility .3s;
}

.loaded body:before,
.loaded body:after {
    opacity: 0;
    visibility: hidden;
}
*/

#wrapper {
	overflow: hidden;
}

.label {
	font-size: 70%;
}

.btn {
	transition: background .3s ease, color .3s ease;
	font-size: 15px;
	line-height: 18px;
	border: 0;
	padding: 14px 10px;
	white-space: normal;
	outline: none;
}

@media (min-width: 768px) {
	.btn {
		font-size: 21px;
		line-height: 24px;
	}
}

.btn.btn-danger:hover {
	background: #0091ea;
}

.booking-form .btn-green {
	background-color: #00c853 !important;
}

.booking-form .btn-green {
	color: #fff !important;
}

.booking-form .btn-green:hover {
	background-color: #00b548 !important;
}

.btn:active:focus,
.btn:active,
.btn:focus {
	outline: none;
}

.bg-retina {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-size: cover;
	background-position: 50% 50%;
}

.home-banner .bg-retina {
	background-position: 100% 0;
}

.home-banner {
	position: relative;
	z-index: 1;
	padding: 25px 0 20px;
}

@media (min-width: 768px) {
	.home-banner {
		padding-top: 35px;
	}
}

@media (min-width: 992px) {
	.home-banner {
		padding-top: 65px;
	}
}

.home-banner .text-holder {
	margin: 0 0 15px;
	font-size: 16px;
	line-height: 20px;
}

@media (min-width: 768px) {
	.home-banner .text-holder {
		font-size: 25px;
		line-height: 28px;
		margin: 0 -10px 15px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media (min-width: 768px) {
	.home-banner .text-holder > * {
		margin: 0 10px;
	}
}

.home-banner .text-holder .text {
	margin-bottom: 5px;
	display: block;
}

@media (min-width: 768px) {
	.home-banner .text-holder .text {
		margin-bottom: 0;
	}
}

@media (min-width: 768px) {
	.home-banner h1 {
		font-size: 38px;
		line-height: 1.37;
		font-weight: 600;
	}
}

.bg-retina.bg-mobile {
	display: none;
}

@media (max-width: 630px) {
	div.home-banner span.text {
		padding-bottom: 10px;
	}

	.home-banner .bg-retina.bg-mobile {
		display: block;
	}

	.home-banner .bg-retina {
		display: none;
	}
}

.st_facebook_custom {
	font-size: 12px;
	line-height: 13px;
	background: #4065b4;
	color: #fff;
	border-radius: 2px;
	padding: 3px 5px;
	cursor: pointer;
	transition: background .3s ease;
}

@media (min-width: 768px) {
	.st_facebook_custom {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		min-width: 132px;
	}
}

.st_facebook_custom:hover {
	background: #0091ea;
}

.st_facebook_custom img {
	display: inline-block;
	vertical-align: baseline;
	margin: 0 5px -2px 0;
}

@media (min-width: 768px) {
	.st_facebook_custom img {
		margin-bottom: 0;
	}
}

.st_facebook_custom strong {
	font-weight: 800;
	padding: 0 2px 0 0;
	font-size: 13px;
	line-height: 16px;
}

.note {
	color: #52688e;
	display: block;
	margin: 0 0 8px;
}

.logos-holder {
	font-size: 14px;
	line-height: 18px;
	color: #7087a2;
	margin: 50px 0 0px;
}

@media (min-width: 768px) {
	.logos-holder {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media (min-width: 992px) {
	.logos-holder {
		margin-bottom: 51px;
	}
}

.logos-holder .title {
	display: block;
	margin: 0 0 10px;
}

@media (min-width: 768px) {
	.logos-holder .title {
		width: 15%;
		text-align: left;
		padding: 0 5px 0 0;
		margin: 0;
	}
}

.logos-list {
	overflow: hidden;
	width: 100%;
	margin: 0 -15px -5px;
	display: block;
}

.logos-list li {
	padding: 0 15px 5px;
	float: left;
}

@media (max-width: 768px) {
	.logos-list,
	.logos-list li {
		text-align: center;
		display: inline-block;
		padding-bottom: 10px;
		float: none
	}

	div.logos-holder > span.title {
		text-align: center;
	}

	.logos-holder {
		margin-top: 20px;
	}
}

.benefits-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 17px;
	line-height: 20px;
}

@media (min-width: 768px) {
	.benefits-list {
		font-size: 19px;
		line-height: 22px;
		margin: 0 -15px;
	}
}

@media (min-width: 992px) {
	.benefits-list {
		margin: 0;
	}
}

.benefits-list li {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 10px;
}

@media (min-width: 768px) {
	.benefits-list li {
		padding: 0 15px;
	}
}

.benefits-list .picture-holder {
	margin: 0 10px 0 0;
	min-width: 70px;
	text-align: center;
}

@media (min-width: 768px) {
	.benefits-list .picture-holder {
		min-width: 0;
		margin-right: 20px;
	}
}

.form-benefits {
	padding: 0px 16px;
	padding-top: 12px;
	margin: 0px;
	background-color: #fff;
}

.form-benefits li {
	color: #7087A2;
	list-style-type: none;
	list-style-position: inside;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	font-size: 18px;
}

@media (max-width: 768px) {
	.form-benefits li {
		font-size: 16px;
	}
}

.form-benefits img {
	height: 30px;
	width: auto;
}

.works-section {
	position: relative;
	z-index: 1;
	background: #e64e3f;
	color: #fff;
	padding: 17px 0 0;
	overflow: hidden;
}

@media (min-width: 768px) {
	.works-section {
		background: linear-gradient(90deg, #e64e3f 0, #e64e3f 33.3%, transparent 33.4%, transparent 66.6%, #b71d1d 66.7%, #b71d1d 100%) #d63730;
	}
}

@media (min-width: 992px) {
	.works-section {
		font-size: 17px;
		line-height: 23px;
	}
}

@media (min-width: 768px) {
	.works-section .container-fluid {
		position: relative;
	}
}

@media (min-width: 768px) {
	.works-section .container-fluid:before {
		content: "";
		display: block;
		position: absolute;
		top: -17px;
		left: -15px;
		right: -15px;
		bottom: -50px;
		background: linear-gradient(90deg, #e64e3f 0, #e64e3f 33.3%, transparent 33.4%, transparent 66.6%, #b71d1d 66.7%, #b71d1d 100%) #d63730;
	}
}

.works-section h2 {
	color: inherit;
	text-align: left;
	position: relative;
	z-index: 20;
	margin: 0;
}

@media (min-width: 768px) {
	.works-section h2 {
		font-size: 27px;
		line-height: 1.37;
	}
}

.works-section h3 {
	font-size: 19px;
	line-height: 22px;
	margin: 0 0 13px;
}

.works-list {
	padding: 0;
	margin: 0 -15px;
	counter-reset: item;
	overflow: hidden;
}

@media (min-width: 768px) {
	.works-list {
		padding-top: 70px;
		margin: -59px -30px 0;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media (min-width: 992px) {
	.works-list {
		margin: -59px -70px 0;
	}
}

.works-list li {
	position: relative;
	padding: 15px 55px 15px 15px;
}

@media (min-width: 768px) {
	.works-list li {
		width: 33.3%;
		z-index: 1;
		padding: 0 30px 16px;
	}
}

@media (min-width: 992px) {
	.works-list li {
		min-height: 215px;
		padding: 0 70px 16px;
	}
}

.works-list li:nth-child(3n+1) {
	background: #e64e3f;
	z-index: 5;
}

.works-list li:nth-child(3n+1) .arrow,
.works-list li:nth-child(3n+1) .arrow span {
	border-color: transparent transparent #e64e3f;
}

.works-list li:nth-child(3n+2) {
	background: #d63730;
	z-index: 3;
}

.works-list li:nth-child(3n+2) .arrow,
.works-list li:nth-child(3n+2) .arrow span {
	border-color: transparent transparent #d63730;
}

.works-list li:nth-child(3n+3) {
	background: #b71d1d;
}

.works-list li:nth-child(3n+3) .arrow,
.works-list li:nth-child(3n+3) .arrow span {
	visibility: hidden;
}

@media (min-width: 768px) {
	.works-list li:first-child,
	.works-list li:nth-child(2),
	.works-list li:nth-child(3) {
		margin-top: -65px;
		padding-top: 65px;
	}
}

.works-list li:after {
	content: counters(item, ".") " ";
	counter-increment: item;
	font-weight: 700;
	font-size: 50px;
	line-height: 56px;
	color: rgba(255, 255, 255, .24);
	position: absolute;
	top: 50%;
	right: 18px;
	transform: translateY(-50%);
}

@media (min-width: 768px) {
	.works-list li:after {
		font-size: 208px;
		line-height: 210px;
		right: 48px;
	}
}

@media (min-width: 1300px) {
	.works-list li:after {
		right: 18px;
	}
}

@media (min-width: 768px) {
	.works-list li .arrow,
	.works-list li .arrow span {
		position: absolute;
		top: 0;
		right: -20px;
		width: 0;
		height: 0;
		border-color: transparent transparent #000;
		border-style: solid;
		border-width: 0 20px 20px 0;
	}
}

@media (min-width: 992px) {
	.works-list li .arrow,
	.works-list li .arrow span {
		border-width: 0 50px 50px 0;
		right: -50px;
	}
}

@media (min-width: 768px) {
	.works-list li .arrow span {
		transform: rotate(180deg);
		top: 194px;
		right: auto;
		transform-origin: 0 50%;
		left: 20px;
		border-width: 0 0 20px 20px;
	}
}

@media (min-width: 992px) {
	.works-list li .arrow span {
		left: 50px;
		border-width: 0 0 50px 50px;
	}
}

.reviews-section {
	padding: 20px 0 0;
	background: #fff;
}

@media (min-width: 768px) {
	.reviews-section {
		padding-top: 40px;
	}
}

.reviews-section h2 {
	margin-bottom: 12px;
}

.reviews-section .valuation-box {
	color: #7087a2;
	margin: 0 -5px 20px;
	min-width: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

.reviews-section .valuation-box .picture-holder {
	float: none;
	margin: 0 5px;
}

.reviews-section .valuation-box .rating-list {
	margin: 0 2px;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

@media (min-width: 768px) {
	.reviews-section .valuation-box .rating-list {
		margin-bottom: -6px;
	}
}

.reviews-section .valuation-box .text-frame {
	margin: 0 5px;
	font-size: 13px;
	line-height: 16px;
	text-transform: none;
}

@media (min-width: 768px) {
	.reviews-section .valuation-box .text-frame {
		font-size: 19px;
		line-height: 22px;
	}
}

@media (min-width: 768px) {
	.reviews-section .valuation-box .text-frame .small {
		font-size: 15px;
	}
}

.info-section {
	position: relative;
	z-index: 2;
	padding: 46px 0 22px;
	text-align: center;
	font-size: 17px;
	line-height: 23px;
	overflow: hidden;
}

#content .info-section {
	padding: 26px 15px;
	border-radius: 3px;
	background: #edf0f4;
	text-align: left;
	margin: 20px 0 20px;
}

#content .info-section .text-holder {
	margin-bottom: 20px;
}

@media (min-width: 992px) {
	#content .info-section .text-holder {
		margin-bottom: 69px;
	}
}

#content .info-section h2 {
	text-align: left;
}

#content .info-section .container-fluid {
	padding: 0 6px;
}

#content .info-section .row {
	margin: 0 -6px;
}

#content .info-section [class^="col-"] {
	padding: 0 6px;
}

#content .info-section .note {
	font-size: 6px;
	line-height: 8px;
}

.info-section .text-holder {
	margin-bottom: 50px;
}

@media (min-width: 992px) {
	.info-section .text-holder {
		margin-bottom: 104px;
	}
}

@media (min-width: 992px) {
	.info-section .large-col {
		margin-bottom: -109px;
	}
}

.info-section .note {
	display: block;
	font-size: 10px;
	line-height: 15px;
	color: #7087a2;
	margin: 0;
}

.info-box {
	background: #fff;
	padding: 23px 21px;
	box-shadow: 0 0 10px 0 rgba(33, 51, 71, .3);
	border-radius: 5px;
	margin: 0 0 30px;
	color: #52688e;
}

@media (min-width: 992px) {
	.info-box {
		margin-bottom: 78px;
	}
}

#content .info-box {
	padding: 12px 11px;
}

#content .info-box .title {
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 9px;
	text-align: center;
}

#content .info-box .list {
	font-size: 12px;
	line-height: 14px;
	font-weight: 900;
}

#content .info-box .list li {
	border-top-width: 1px;
	padding-top: 3px;
}

#content .info-box .list li + li {
	margin-top: 5px;
}

#content .info-box .list .title {
	font-size: 11px;
	line-height: 13px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 2px;
}

#content .info-box .list .note {
	font-size: 9px;
	line-height: 10px;
}

@media (min-width: 992px) {
	#content .large-col .info-box {
		transform: translateY(-40px);
	}
}

#content .large-col .info-box .title {
	margin-bottom: 14px;
}

#content .large-col .info-box .list {
	font-size: 12px;
	line-height: 14px;
}

#content .large-col .info-box .list li {
	padding-top: 5px;
}

#content .large-col .info-box .list li + li {
	margin-top: 8px;
}

#content .large-col .info-box .list .item {
	margin-bottom: 0;
}

#content .large-col .info-box .list .title {
	font-size: 9px;
	line-height: 12px;
	margin-bottom: 2px;
}

#content .large-col .info-box .list .note {
	font-size: 8px;
	line-height: 10px;
}

.large-col .info-box {
	background: #0091ea;
	color: #fff;
	padding: 29px 17px;
}

@media (min-width: 992px) {
	.large-col .info-box {
		transform: translateY(-52px);
	}
}

.large-col .info-box .title {
	margin-bottom: 24px;
}

.large-col .info-box .list {
	font-size: 18px;
	line-height: 22px;
}

.large-col .info-box .list li {
	border-color: #b8ddf4;
}

.large-col .info-box .list .title {
	color: #97d6ef;
	font-size: 17px;
	line-height: 20px;
	margin-bottom: 4px;
}

.large-col .info-box .list .item {
	margin-bottom: 7px;
}

.large-col .info-box .list .note {
	font-size: 14px;
	line-height: 18px;
}

.info-box .title {
	display: block;
	margin: 0 0 16px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #213347;
}

.info-box .list {
	text-align: left;
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
}

.info-box .list li {
	padding: 8px 0 0;
	border-top: 2px solid #f8f8f8;
}

.info-box .list li + li {
	margin-top: 10px;
}

.info-box .list .title {
	margin: 0 0 2px;
	font-weight: 300;
	font-size: 15px;
	line-height: 18px;
	color: inherit;
}

.info-box .list .item {
	display: block;
	margin: 0 0 1px;
}

.info-box .list .note {
	font-weight: 600;
	color: inherit;
	font-size: 12px;
	line-height: 16px;
}

.tabs-section {
	background: #edf0f4;
	padding: 30px 0;
}

.tabs-section .btn-more {
	display: inline-block;
	vertical-align: top;
	margin: 4px 0 0;
	font-weight: 600;
	color: #0288d1;
}

.tabs-section .btn-more.collapsed .open {
	display: none;
}

.tabs-section .btn-more.collapsed .collapsed {
	display: inline-block;
	vertical-align: top;
}

.tabs-section .btn-more:hover {
	color: #7087a2;
}

.tabs-section .btn-more .collapsed {
	display: none;
}

.logos-section {
	padding: 23px 0 1px;
	text-align: center;
	font-size: 17px;
	line-height: 23px;
	font-weight: 700;
	background: #fff;
}

@media (min-width: 768px) {
	.logos-section {
		padding-bottom: 23px;
	}
}

@media (min-width: 768px) {
	.logos-section .row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.logos-section [class^="col-"] {
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	.logos-section [class^="col-"] {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-align: center;
		align-items: center;
		float: none;
		width: 24.95%;
	}
}

@media (min-width: 992px) {
	.logos-section [class^="col-"] {
		margin-bottom: 15px;
	}
}

.logos-section [class^="col-"] .picture-holder img {
	max-width: 100%;
}

.logos-section [class^="col-"] p {
	width: 100%;
}

.logos-section p {
	margin-bottom: 15px;
}

@media (min-width: 992px) {
	.logos-section p {
		margin-bottom: 24px;
	}
}

.post-section {
	padding: 23px 0;
	background: #f7f7f7;
}

@media (min-width: 768px) {
	.post-section {
		padding: 47px 0 30px;
	}
}

@media (min-width: 768px) {
	.post-section h2 {
		margin-bottom: 20px;
	}
}

.post-box {
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(33, 51, 71, .3);
	border-radius: 3px;
	overflow: hidden;
}

.post-slider .post-box {
	margin: 10px 0;
}

.post-box .picture-holder {
	position: relative;
	z-index: 10;
}

.post-box .picture-holder .bg-retina:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	content: "";
	z-index: -1;
	background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0%, rgba(1, 1, 1, .8) 99%, rgba(0, 0, 0, .3) 100%);
}

.post-box .picture-holder img {
	max-width: none;
	width: 100%;
}

.post-box .picture-holder a {
	transition: opacity .3s ease;
	display: block;
}

.post-box .picture-holder a:hover {
	opacity: .7;
}

.post-box .head-post {
	z-index: 10;
	position: relative;
	color: #fff;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 12px;
	padding-top: 62px;
	height: 150px
}

@media (min-width: 768px) {
	.post-box .head-post {
		padding: 62px 20px 12px;
	}
}

.post-box .head-post h3 {
	color: inherit;
}

.post-box .list {
	font-size: 13px;
	line-height: 16px;
	display: none;
}

.post-box .list li {
	float: left;
	padding: 0 0 0 12px;
	position: relative;
}

.post-box .list li:first-child {
	padding-left: 0;
}

.post-box .list li:first-child:before {
	display: none;
}

.post-box .list li:before {
	position: absolute;
	content: "";
	left: 6px;
	top: 50%;
	width: 1px;
	height: 14px;
	transform: translateY(-50%);
	background: #fff;
}

.post-box .list a {
	color: inherit;
}

.post-box .list a:hover {
	color: #0288d1;
}

.post-box .text-box {
	padding: 5px 10px;
	color: #52688e;
}

@media (min-width: 768px) {
	.post-box .text-box {
		padding: 11px 20px;
	}
}

.post-box p {
	margin-bottom: 15px;
}

.post-box a {
	color: #0288d1;
}

.post-box a:hover {
	color: #7087a2;
}

.subscription-section {
	padding: 23px 0;
	background: #edf0f4;
}

@media (min-width: 768px) {
	.subscription-section {
		padding: 31px 0 25px;
	}
}

.subscription-section h2 {
	text-align: left;
	color: #213347;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}

.description-section {
	padding: 23px 0;
	background: #fff;
	border-bottom: 1px solid #EDF0F4;
}

@media (min-width: 768px) {
	.description-section {
		padding: 47px 0 42px;
	}
}

.description-section [class^="col-"]:first-child .description-box:first-child {
	margin-top: 0;
}

.description-section [class^="col-"]:first-child .description-box:first-child .text-box {
	padding-top: 0;
	border-top: 0;
}

.description-box {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 11px;
}

@media (min-width: 768px) {
	.description-box {
		margin-top: 0;
	}
}

.description-box + .description-box {
	margin-top: 11px;
}

.description-box + .description-box .text-box {
	border-top: 2px solid #ebecef;
	padding-top: 13px;
}

.description-box h2 {
	text-align: left;
	color: #213347;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.description-box h2 {
		margin-bottom: 14px;
	}
}

.description-box .picture-holder {
	width: 34.2%;
	padding: 0 15px 0 0;
	text-align: center;
}

.description-box .text-box {
	width: 75%;
	border-top: 2px solid #ebecef;
	padding-top: 13px;
}

@media (min-width: 768px) {
	.description-box .text-box {
		padding-top: 0;
		border-top: 0;
	}
}

.leader-section {
	padding: 23px 0;
	background: #f7f7f7;
	text-align: center;
}

@media (min-width: 768px) {
	.leader-section {
		padding: 40px 0 47px;
	}
}

.leader-section h2 {
	color: #213347;
	font-size: 19px;
	line-height: 22px;
	margin-bottom: 19px;
	width: 100%;
}

.leader-section .label-box {
	margin: 0 0 15px;
	width: 100%;
}

@media (min-width: 768px) {
	.leader-section .label-box {
		margin-bottom: 28px;
	}
}

.leader-section .list {
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	-moz-column-count: 2;
	column-count: 2;
	-moz-column-gap: 10px;
	column-gap: 10px;
	width: 100%;
}

@media (min-width: 768px) {
	.leader-section .list {
		font-size: 17px;
		line-height: 20px;
	}
}

.leader-section .list li {
	margin: 0 0 9px;
}

.leader-section .list a {
	color: #0091ea;
}

.leader-section .list a:hover {
	color: #0288d1;
}

.leader-section [class^="col-"] {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: center;
	justify-content: center;
}

@media (min-width: 768px) {
	.leader-section [class^="col-"]:nth-child(even):before {
		position: absolute;
		content: "";
		left: 2px;
		top: -18px;
		bottom: -18px;
		width: 2px;
		background: #dde3e8;
	}
}

.leader-section [class^="col-"] + [class^="col-"] {
	margin-top: 30px;
}

@media (min-width: 768px) {
	.leader-section [class^="col-"] + [class^="col-"] {
		margin-top: 0;
	}
}

.banner {
	position: relative;
	z-index: 1;
	color: #fff;
	padding: 14px 0;
}

.banner:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(33, 25, 20, .3);
	z-index: -1;
}

.banner h1 {
	font-weight: 700;
	margin: 0 0 6px;
	letter-spacing: 0;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

@media (min-width: 768px) {
	.banner h1 {
		font-size: 36px;
		line-height: 1.28;
		margin-bottom: 13px;
	}
}

@media (min-width: 768px) {
	.banner .two-col {
		display: -ms-flexbox;
		display: flex;
	}
}

.banner .large-col {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: end;
	align-items: flex-end;
}

@media (min-width: 768px) {
	.banner .large-col {
		padding-right: 15px;
		width: 60%;
		padding-bottom: 30px;
	}
}

@media (min-width: 992px) {
	.banner .large-col {
		padding-right: 31px;
		width: 63.7%;
	}
}

.banner .author {
	display: none;
	margin: 0 0 5px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
}

@media (min-width: 768px) {
	.banner .author {
		margin-bottom: -4px;
	}
}

.banner .author a {
	color: #fff;
}

.banner .author a:hover {
	color: #0091ea;
}

@media (min-width: 768px) {
	.banner .small-col {
		padding-left: 15px;
		width: 40%;
	}
}

@media (min-width: 992px) {
	.banner .small-col {
		padding-left: 31px;
		width: 36.3%;
	}
}

.banner .note {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}

.share-list {
	display: -ms-flexbox;
	display: flex;
	margin: 0 -2px 5px;
	color: #fff;
	font: 700 11px/20px "Helvetica", "Arial", sans-serif;
}

@media (min-width: 768px) {
	.share-list {
		-ms-flex-pack: start;
		justify-content: flex-start;
		margin-bottom: 0;
	}
}

#content .share-list {
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.share-list li {
	padding: 0 2px;
}

.share-list .st_linkedin_custom {
	background: #1076b5;
	padding: 0 4px;
	border-radius: 2px;
	font: 700 11px/20px "Helvetica", "Arial", sans-serif;
	cursor: pointer;
}

.share-list .st_linkedin_custom:hover {
	background: #348bc1;
}

.share-list .st_linkedin_custom img {
	margin: 3px 4px 0 0;
	vertical-align: top;
}

#content {
	padding: 17px 0;
	font-size: 16px;
	line-height: 1.75;
	text-align: justify;
}

#content h1,
#content h2,
#content h2,
#content h3 {
	text-align: left;
}

#content h2 {
	margin-top: 25px;
	margin-bottom: 20px;
}

div.text-holder > h2 {
	margin-top: 0px !important;
}

@media (min-width: 768px) {
	#content {
		padding-right: 15px;
		width: 60%;
		float: left;
	}
}

@media (min-width: 992px) {
	#content {
		padding-right: 31px;
		width: 63.7%;
	}
}

#content .head .title {
	margin-bottom: 0;
}

#content h3.title {
	display: block;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;
	margin: 35px 0 20px;
}

#content a {
	font-weight: 400;
}

.white-box {
	background: #fff;
	border-radius: 3px;
	margin: 20px 0 30px;
	padding: 0 0 19px;
}

.white-box .head {
	margin: 0 0 20px;
	padding: 18px;
	border-bottom: 2px solid #f5f7f9;
}

.compensation-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 21px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 800;
}

.compensation-list li {
	padding: 0 3px 6px;
	width: 50%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: stretch;
	align-items: stretch;
	min-height: 80px;
}

.compensation-list .box {
	background: #edf0f4;
	width: 100%;
	border-radius: 3px;
	padding: 11px 18px;
	text-align: center;
}

@media (min-width: 992px) {
	.compensation-list .box {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		text-align: left;
		padding: 11px 45px 11px 18px;
	}
}

.compensation-list .picture-holder {
	margin: 0 0 10px;
	min-height: 65px;
	white-space: nowrap;
}

@media (min-width: 992px) {
	.compensation-list .picture-holder {
		padding: 0 20px 0 0;
		min-width: 75px;
		min-height: 0;
	}
}

.compensation-list .picture-holder:after {
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 65px;
	content: "";
}

@media (min-width: 992px) {
	.compensation-list .picture-holder:after {
		display: none;
	}
}

.compensation-list .picture-holder img {
	display: inline-block;
	vertical-align: middle;
}

.declaration-list {
	padding: 0 20px;
	font-size: 11px;
	line-height: 14px;
	font-weight: 400;
}

@media (min-width: 768px) {
	.declaration-list {
		display: -ms-flexbox;
		display: flex;
	}
}

.declaration-list li {
	text-align: center;
	padding: 0 9px 18px;
}

@media (min-width: 768px) {
	.declaration-list li {
		width: 33.3%;
	}
}

.declaration-list .picture-holder {
	white-space: nowrap;
	min-height: 100px;
	margin: 0 0 10px;
}

.declaration-list .picture-holder:after {
	display: inline-block;
	vertical-align: bottom;
	content: "";
	height: 100px;
	width: 1px;
}

.declaration-list .picture-holder img {
	display: inline-block;
	vertical-align: bottom;
	white-space: normal;
}

.declaration-list .description-holder {
	position: relative;
	z-index: 1;
	padding: 0 10px 11px;
	overflow: hidden;
}

.declaration-list .description-holder:before {
	content: "";
	position: absolute;
	bottom: -50%;
	left: 0;
	right: 0;
	height: 158px;
	background: #edf0f4;
	z-index: -1;
	border-radius: 50%;
}

.declaration-list .description-holder .text {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.declaration-list .price {
	display: block;
	padding: 11px 10px;
	background: #d3dbe5;
	font-weight: 900;
	font-size: 20px;
	line-height: 24px;
	margin: -5px 0 0;
	position: relative;
	z-index: 2;
}

.distance-holder {
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 800;
}

.distance-holder .holder {
	display: inline-block;
	border-radius: 2px;
	background: #edf0f4;
	padding: 4px 9px;
	border: 1px solid #d6dde7;
	position: relative;
	z-index: 1;
}

.distance-holder .holder:before {
	position: absolute;
	content: "";
	left: 50%;
	bottom: -8px;
	width: 8px;
	height: 8px;
	transform: rotate(45deg) translateX(-50%);
	background: #edf0f4;
	border: solid #d6dde7;
	border-width: 0 1px 1px 0;
	z-index: -1;
}

.note-box {
	background: #fff;
	padding: 14px 15px;
	margin: 0 0 20px;
	border-radius: 3px;
}

.note-box .note {
	font: italic 700 17px/20px Georgia, "Times New Roman", Times, serif;
	color: #213347;
	padding: 0 0 0 28px;
	margin: 0;
	position: relative;
}

@media (min-width: 768px) {
	.note-box .note {
		font-size: 22px;
		line-height: 32px;
	}
}

.note-box .note:before {
	position: absolute;
	content: "";
	left: 0;
	width: 9px;
	top: 6px;
	bottom: 6px;
	background: #e64e3f;
}

.warning-box {
	position: relative;
	margin: 20px 0 20px;
	background: #edf0f4;
	border-radius: 3px;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

.warning-box:before {
	position: absolute;
	content: "";
	top: 100%;
	right: 0;
	border-style: solid;
	border-color: transparent #edf0f4;
	border-width: 0 10px 10px 0;
}

.warning-box strong {
	font-weight: 900;
}

.warning-box .picture-holder {
	width: 70px;
	padding: 10px 15px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #d3dbe5;
	border-radius: 3px 0 0 3px;
}

.warning-box .picture-holder img {
	height: 50px;
	width: auto;
}

.warning-box .text-holder {
	padding: 15px 17px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: calc(100% - 70px);
}

.warning-box .text-holder p {
	margin: 0;
}

.check-list {
	background: #fff;
	padding: 13px 19px;
	border-radius: 3px;
	margin-bottom: 20px;
}

.check-list li {
	padding: 0 0 0 33px;
	position: relative;
}

.check-list li:before {
	position: absolute;
	left: 0;
	top: 2px;
	content: "\e902";
	font-family: "icomoon", ui-serif !important;
}

.check-list li + li {
	margin-top: 2px;
}

table ul.circle-list {
	margin: 0px;
}

.circle-list {
	margin-bottom: 20px;
	padding: 0 22px;
	margin-top: 20px;
}

.circle-list li {
	padding: 0 0 0 28px;
	position: relative;
}

.circle-list li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: 3px solid #213347;
}

.circle-list li + li {
	margin-top: 2px;
}

.table-section {
	padding: 0 0 30px;
}

.table-section h2 {
	text-align: left;
}

#header {
	padding: 15px 0;
	background: #fff;
	z-index: 100;
	position: relative;
}

@media (min-width: 768px) {
	#header {
		padding: 10px 0;
	}
}

@media (min-width: 992px) {
	.fixed-position #header {
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
		padding: 10px 0;
	}
}

header .container-fluid {
	position: relative;
}

.logo {
	float: left;
	width: 140px;
}

@media (min-width: 768px) {
	.logo {
		width: 182px;
		margin: 10px 0 0;
	}
}

.header-bar {
	max-width: calc(100% - 140px);
	float: right;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	color: #7087a2;
	text-align: right;
	padding: 3px 0 0;
}

@media (min-width: 768px) {
	.header-bar {
		max-width: calc(100% - 190px);
		padding: 0;
	}
}

@media (min-width: 992px) {
	.header-bar {
		padding: 0 4px 0 0;
	}
}

.contact-box {
	padding: 4px 15px;
	font-size: 15px;
	line-height: 1.4;
}

.fixed-position .contact-box {
	display: none;
}

.fixed-position .contact-box + .valuation-box {
	border-left-color: transparent;
}

.contact-box + .valuation-box {
	border-left: 2px solid #e5ebf2;
}

.contact-box .text-frame {
	font-size: 12px;
	line-height: 14px;
	color: #8aa5bf;
}

.contact-box .name {
	display: block;
}

@media (min-width: 992px) {
	.contact-box .name {
		margin: 0 0 -4px;
	}
}

.contact-box a {
	color: #0288d1;
}

.text-frame {
	display: block;
}

.valuation-box {
	padding: 0 15px;
	min-width: 247px;
	font-size: 15px;
	line-height: 1.4;
}

.valuation-box .picture-holder {
	float: right;
	margin: 0 0 0 9px;
}

.valuation-box .text-frame {
	text-transform: uppercase;
	font-weight: 700;
}

.valuation-box .small {
	font-weight: 600;
}

.btn-fixed {
	display: none;
	background: #00c853;
	color: #fff;
	font-weight: 600;
	font-size: 19px;
	line-height: 22px;
	padding: 10px 20px 13px;
}

.fixed-position .btn-fixed {
	display: block;
	margin: 0 15px;
}

.btn-fixed:hover {
	background-color: #00b548;
	color: #fff !important;
}

.rating-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

@media (min-width: 992px) {
	.rating-list {
		margin: -3px 0 -6px;
	}
}

.rating-list li {
	padding: 0 3px 6px;
}

#nav {
	padding: 0 0 0 15px;
}

@media (min-width: 992px) {
	#nav {
		padding-right: 15px;
	}
}

.nav-opener {
	width: 26px;
	height: 20px;
	position: relative;
	display: block;
}

.nav-opener:hover:before,
.nav-opener:hover:after,
.nav-opener:hover span {
	background: #0288d1;
}

.nav-active .nav-opener:after,
.nav-active .nav-opener:before {
	transform: rotate(50deg);
	top: 50%;
}

.nav-active .nav-opener span {
	opacity: 0;
}

.nav-active .nav-opener:after {
	transform: rotate(-410deg);
	bottom: auto;
}

.nav-opener:before,
.nav-opener:after,
.nav-opener span {
	transition: .55s;
	background: #213347;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 3px;
}

.nav-opener span {
	transform: translateY(-50%);
}

.nav-opener:before {
	content: "";
	top: 0;
}

.nav-opener:after {
	content: "";
	top: auto;
	bottom: 0;
}

.nav-drop {
	position: absolute;
	right: 15px;
	left: 15px;
	top: calc(100% + 12px);
	background: #fff;
	padding: 15px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
	border-radius: 4px;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
	font-size: 15px;
	line-height: 1.4;
}

@media (min-width: 768px) {
	.nav-drop {
		right: 10px;
		max-width: 538px;
		width: 100%;
		left: auto;
		padding: 23px 22px;
	}
}

@media (min-width: 992px) {
	.nav-drop {
		right: 30px;
	}
}

.nav-active .nav-drop {
	opacity: 1;
	visibility: visible;
}

.nav-drop:before {
	content: "";
	position: absolute;
	right: 6px;
	top: -8px;
	width: 14px;
	height: 14px;
	background: #fff;
	transform: rotate(45deg);
}

@media (min-width: 768px) {
	.nav-drop:before {
		right: 10px;
	}
}

@media (min-width: 768px) {
	.nav-drop .holder {
		width: 100%;
		display: -ms-flexbox;
		display: flex;
	}
}

@media (min-width: 992px) {
	.nav-drop .holder {
		max-height: 60vh;
		overflow-y: auto;
	}
}

.nav-drop .widget {
	margin: 0;
}

@media (min-width: 768px) {
	.nav-drop .widget {
		padding: 0 12px;
		width: 33.3%;
	}
}

.nav-drop .widget + .widget {
	margin-top: 20px;
}

@media (min-width: 768px) {
	.nav-drop .widget + .widget {
		margin-top: 0;
	}
}

.nav-drop .title {
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	display: block;
	margin: 0 0 7px;
}

@media (min-width: 768px) {
	.nav-drop .title {
		margin-bottom: 13px;
	}
}

.nav-drop .title.red-style {
	color: #e64e3f;
}

.nav-drop ul {
	font-weight: 400;
}

.nav-drop ul li + li {
	margin-top: 5px;
}

@media (min-width: 768px) {
	.nav-drop ul li + li {
		margin-top: 15px;
	}
}

.nav-drop ul li.active {
	color: #e64e3f;
}

.nav-drop ul a {
	color: inherit;
}

.nav-drop ul a:hover {
	color: #e64e3f;
}

#footer {
	padding: 23px 0 5px;
	font-size: 12px;
	line-height: 14px;
	color: #7087a2;
	background: #fff;
}

@media (min-width: 768px) {
	#footer {
		padding: 41px 0;
	}
}

#footer a {
	color: inherit;
}

#footer a:hover {
	color: #e64e3f;
}

#footer .widget {
	margin: 0 0 15px;
}

@media (min-width: 768px) {
	#footer .widget {
		margin: 0;
	}
}

#footer .widget .title {
	margin-bottom: 13px;
}

#footer .title {
	display: block;
	font-weight: 700;
	margin: 0 0 5px;
	word-wrap: break-word;
}

#footer .title.red-style {
	color: #e64e3f;
}

#footer .valuation-box {
	padding: 13px 0 0;
	margin: 0 0 15px;
}

@media (min-width: 992px) {
	#footer .valuation-box {
		margin-bottom: 0;
	}
}

#footer .valuation-box .picture-holder {
	float: left;
	margin: -3px 8px 0 0;
}

#footer .valuation-box .text-frame {
	margin: 0 0 4px;
	font-size: 15px;
	line-height: 18px;
}

#footer .valuation-box .text-frame .small {
	font-size: 11px;
	line-height: 18px;
}

#footer .valuation-box .rating-list {
	-ms-flex-pack: start;
	justify-content: flex-start;
}

#footer address {
	margin: 0;
	line-height: 22px;
}

.contact-block {
	margin: 0 0 15px;
}

.contact-block dt {
	font-weight: 600;
	float: left;
	width: 65px;
	padding: 0 5px 0 0;
}

.contact-block dd {
	overflow: hidden;
	word-wrap: break-word;
	margin: 0 0 6px;
}

.nav-footer {
	padding: 20px 0 0;
}

@media (min-width: 768px) {
	.nav-footer {
		padding-top: 0;
	}
}

.nav-footer ul li + li {
	margin: 8px 0 0;
}

.nav-footer ul li.active a {
	color: #e64e3f !important;
}

#sidebar {
	padding: 23px 0;
}

@media (min-width: 768px) {
	#sidebar {
		padding-left: 15px;
		width: 40%;
		float: right;
	}
}

@media (min-width: 992px) {
	#sidebar {
		padding-left: 31px;
		width: 36.3%;
	}
}

#sidebar .white-box {
	margin: 0;
	padding: 0;
}

#sidebar .white-box .head {
	text-align: center;
	padding: 16px 15px 14px;
	margin-bottom: 0;
}

#sidebar .title {
	display: block;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;
}

#sidebar .benefits-list {
	font-weight: 800;
	font-size: 15px;
	line-height: 18px;
	margin: 0;
	display: block;
}

#sidebar .benefits-list li {
	min-height: 67px;
	padding: 10px 15px;
	margin-bottom: 0;
}

@media (min-width: 768px) {
	#sidebar .benefits-list li {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
	}
}

#sidebar .benefits-list li + li {
	border-top: 2px solid #f7f7f7;
}

#sidebar .benefits-list .picture-holder {
	width: 60px;
	padding: 0 10px 0 0;
	margin: 0;
	text-align: center;
}

#sidebar .benefits-list .text {
	width: calc(100% - 60px);
}

#sidebar .warning-box {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	background: #b9f6ca;
	color: #1b5e20;
}

#sidebar .warning-box:before {
	border-color: transparent #b9f6ca;
}

#sidebar .warning-box .text-holder {
	padding: 12px 13px;
}

#sidebar .subscription-section {
	padding: 16px 15px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
}

#sidebar .subscription-section h2 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 800;
	margin-bottom: 4px;
}

#sidebar .subscription-form .wysija-paragraph {
	float: left;
	width: 100%;
	margin: 0 0 10px;
}

#sidebar .subscription-form .btn {
	float: none;
	width: 100%;
}

#sidebar .contact-box {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 rgba(33, 51, 71, .1);
	padding: 18px 2px 2px;
	text-align: center;
}

#sidebar .contact-box .text-frame {
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
	padding: 0 3px 5px;
	margin: 0 0 10px;
	border-bottom: 1px solid #8aa5bf;
}

#sidebar .contact-box .name {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 14px;
	color: #7087a2;
}

#sidebar .contact-box .tel-btn {
	display: block;
	font-size: 18px;
	line-height: 20px;
	font-weight: 900;
	color: #0091ea;
	background: #edf0f4;
	padding: 14px 15px;
	border-radius: 0 0 3px 3px;
	transition: color .3s ease, background .3s ease;
}

#sidebar .contact-box .tel-btn:hover {
	background: #0091ea;
	color: #fff;
}

@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.eot?674fmz");
	src: url("fonts/icomoon.eot?674fmz#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?674fmz") format("truetype"), url("fonts/icomoon.woff?674fmz") format("woff"), url("fonts/icomoon.svg?674fmz#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon", ui-serif !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
	content: "\e902";
}

.icon-chevron-thin-right:before {
	content: "\e901";
}

.icon-chevron-thin-left:before {
	content: "\e900";
}

.min.jsall.cssindex.html .slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.autocompete-drop {
	border-radius: 3px;
	box-shadow: 0 0 10px 0 rgba(39, 53, 62, .3);
	font-weight: 600;
	position: absolute;
	z-index: 99;
	background: #fff;
	overflow: auto;
	max-height: 300px;
	color: #8696a8;
	font-size: 16px;
	line-height: 18px;
}

.autocompete-drop li {
	padding: 5px 15px 7px;
	cursor: pointer;
	border-radius: 3px;
}

.autocompete-drop li.empty-result {
	color: #e64e3f;
}

.autocompete-drop li.focus {
	font-weight: 600;
	background: #edf0f4;
}

.js-tab-hidden {
	display: block !important;
	left: -9999px !important;
	position: absolute !important;
	top: -9999px !important;
}

.accordion-block.panel-group {
	margin-bottom: 0;
}

.accordion-block .js-tab-hidden {
	position: static !important;
}

@media (min-width: 768px) {
	.accordion-block .js-tab-hidden {
		position: absolute !important;
	}
}

@media (min-width: 768px) {
	.accordion-block .collapse {
		display: block;
	}
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
	border: 0;
}

.panel {
	box-shadow: none;
	border: 0;
}

.panel + .panel {
	margin-top: 10px;
}

.panel-heading {
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
}

@media (max-width: 768px) {
	.panel-heading {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.panel-heading a {
	color: #0288d1;
	padding: 0 0 10px;
	position: relative;
}

.panel-heading a.collapsed {
	color: #213347;
	font-size: 14px;
	line-height: 1.428;
	padding: 0;
}

.panel-heading a.collapsed:before {
	display: none;
}

.panel-heading a.collapsed:hover {
	color: #0288d1;
}

.panel-heading a:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 5px;
	height: 2px;
	background: #0288d1;
	transition: width .3s ease;
	right: 0;
}

.tabset,
.nav-tabs {
	border: 0;
	font-weight: 700;
}

.tabset .tab-holder,
.tabset > li,
.nav-tabs .tab-holder,
.nav-tabs > li {
	margin-bottom: 0;
	float: none;
}

.tabset .tab-holder + .tab-holder,
.tabset .tab-holder + li,
.tabset > li + .tab-holder,
.tabset > li + li,
.nav-tabs .tab-holder + .tab-holder,
.nav-tabs .tab-holder + li,
.nav-tabs > li + .tab-holder,
.nav-tabs > li + li {
	margin-top: 7px;
}

.tabset .tab-holder.active .open-tab,
.tabset .tab-holder.active > a,
.tabset > li.active .open-tab,
.tabset > li.active > a,
.nav-tabs .tab-holder.active .open-tab,
.nav-tabs .tab-holder.active > a,
.nav-tabs > li.active .open-tab,
.nav-tabs > li.active > a {
	border: 0;
	padding: 0 0 5px;
	margin: 0 0 6px;
	font-size: 17px;
	color: #0288d1;
}

.tabset .tab-holder.active .open-tab:hover,
.tabset .tab-holder.active .open-tab:focus,
.tabset .tab-holder.active > a:hover,
.tabset .tab-holder.active > a:focus,
.tabset > li.active .open-tab:hover,
.tabset > li.active .open-tab:focus,
.tabset > li.active > a:hover,
.tabset > li.active > a:focus,
.nav-tabs .tab-holder.active .open-tab:hover,
.nav-tabs .tab-holder.active .open-tab:focus,
.nav-tabs .tab-holder.active > a:hover,
.nav-tabs .tab-holder.active > a:focus,
.nav-tabs > li.active .open-tab:hover,
.nav-tabs > li.active .open-tab:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border: 0;
}

.tabset .tab-holder.active .open-tab:before,
.tabset .tab-holder.active > a:before,
.tabset > li.active .open-tab:before,
.tabset > li.active > a:before,
.nav-tabs .tab-holder.active .open-tab:before,
.nav-tabs .tab-holder.active > a:before,
.nav-tabs > li.active .open-tab:before,
.nav-tabs > li.active > a:before {
	width: 100%;
}

.tabset .tab-holder .open-tab,
.tabset .tab-holder > a,
.tabset > li .open-tab,
.tabset > li > a,
.nav-tabs .tab-holder .open-tab,
.nav-tabs .tab-holder > a,
.nav-tabs > li .open-tab,
.nav-tabs > li > a {
	color: #213347;
	display: inline-block;
	vertical-align: top;
	border: 0;
	margin-right: 0;
	position: relative;
}

.tabset .tab-holder .open-tab:hover,
.tabset .tab-holder > a:hover,
.tabset > li .open-tab:hover,
.tabset > li > a:hover,
.nav-tabs .tab-holder .open-tab:hover,
.nav-tabs .tab-holder > a:hover,
.nav-tabs > li .open-tab:hover,
.nav-tabs > li > a:hover {
	color: #0288d1;
}

.tabset .tab-holder .open-tab:before,
.tabset .tab-holder > a:before,
.tabset > li .open-tab:before,
.tabset > li > a:before,
.nav-tabs .tab-holder .open-tab:before,
.nav-tabs .tab-holder > a:before,
.nav-tabs > li .open-tab:before,
.nav-tabs > li > a:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 2px;
	background: #0288d1;
	transition: width .3s ease;
	width: 0;
}

.tabs-container {
	margin-top: 10px;
}

.tabset .open-tab {
	display: inline-block;
	vertical-align: top;
}

.tabset .tab-pane {
	float: right;
	width: 50%;
}

.tab-pane {
	background: #fff;
	border-radius: 3px;
	padding: 12px 18px 14px;
	position: relative;
	word-spacing: 9px;
}

@media (min-width: 768px) {
	.tab-pane {
		box-shadow: 0 0 10px 0 rgba(33, 51, 71, .3);
	}
}

@media (min-width: 768px) {
	.tab-pane:before {
		position: absolute;
		content: "";
		top: 10px;
		left: -10px;
		width: 20px;
		height: 20px;
		transform: rotate(45deg);
		background: #fff;
		box-shadow: -2px 2px 2px 0 rgba(33, 51, 71, .1);
	}
}

.tab-pane p {
	margin-bottom: 0;
}

fieldset {
	min-width: 0;
}

@-moz-document url-prefix() {
	fieldset {
		display: table-cell;
		vertical-align: top;
	}
}

input[type="text"]::-ms-clear,
input[type="tel"]::-ms-clear,
input[type="email"]::-ms-clear,
input[type="search"]::-ms-clear,
input[type="password"]::-ms-clear {
	display: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	box-shadow: none !important;
	outline: none;
	display: block;
	width: 100%;
	height: 52px;
	color: #8696a8;
	background-color: #fff;
	border: 1px solid #8696a8;
	border-radius: 3px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea,
.form-control {
	box-shadow: none;
	outline: none;
	padding: 0 15px;
	font-size: 15px;
	line-height: 18px;
}

@media (min-width: 768px) {
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea,
	.form-control {
		font-size: 21px;
		line-height: 24px;
	}
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus,
.form-control:focus {
	box-shadow: none;
}

textarea,
textarea.form-control {
	min-height: 150px;
	height: 150px;
	padding: 10px 15px;
	resize: vertical;
}

input[type="submit"] {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	border: 0;
	white-space: nowrap;
	border-radius: 3px;
	font-size: 15px;
	line-height: 52px;
	height: 52px;
	padding: 0 10px;
	background: #e64e3f;
	color: #fff;
	transition: background .3s ease, color .3s ease;
}

@media (min-width: 768px) {
	input[type="submit"] {
		font-size: 21px;
		line-height: 50px;
	}
}

input[type="submit"]:hover {
	background: #0091ea;
}

input[type="submit"]:focus {
	outline: none;
}

.autocomplete-form {
	padding: 16px;
	padding-top: 10px;
}

.autocomplete-form > .form-group {
	margin-bottom: 12px;
	padding-bottom: 0px;
}

.booking-form {
	padding: 0px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 20px 0 rgba(39, 53, 62, .3);
	margin: 0 0 23px;
	margin-top: 30px;
	overflow: hidden;
}

.banner .booking-form {
	margin-bottom: 4px;
}

.banner .booking-form .form-control {
	font-size: 18px;
}

.banner .booking-form .form-group {
	margin-bottom: 9px;
}

@media (min-width: 768px) {
	.banner .booking-form .form-group {
		margin-bottom: 10px;
	}
}

.booking-form .form-group {
	position: relative;
	padding: 0 0 0 52px;
}

.booking-form .picture-box {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 52px;
	background: #d3dbe5;
	border-right: 2px solid #c0cede;
	border-radius: 3px 0 0 3px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.booking-form .form-control {
	background: #edf0f4;
	border: 0;
}

.booking-form .form-control.input-error {
	background: rgba(255, 0, 0, 0.2);
}

.booking-form .form-control.success {
	background: rgba(0, 128, 0, 0.2);
}

.booking-form .title {
	display: block;
	font-size: 16px;
	line-height: 20px;
	font-weight: 800;
	color: #213347;
	margin: 0 0 6px;
}

@media (min-width: 768px) {
	.booking-form .title {
		margin-bottom: 15px;
	}
}

.subscription-form {
	position: relative;
}

@media (min-width: 768px) {
	.subscription-form {
		margin-top: 18px;
	}
}

@media (min-width: 768px) {
	.subscription-form .wysija-paragraph {
		float: left;
		width: 66.4%;
		margin: 0;
	}
}

.subscription-form .form-control {
	border: 0;
}

.subscription-form .btn {
	width: 100%;
}

@media (min-width: 768px) {
	.subscription-form .btn {
		float: right;
		width: 30%;
	}
}

.subscription-form .wysija-submit {
	margin-top: 0;
}

.subscription-form .formError {
	position: static !important;
}

@media (min-width: 768px) {
	.subscription-form .formError {
		position: absolute !important;
		top: 100% !important;
		width: 100% !important;
		left: 0 !important;
	}
}

.subscription-form .formError .formErrorContent {
	width: 100%;
	border: 4px solid #fff;
	background: #e64e3f;
	border-radius: 3px;
}

.widget_wysija_cont .updated,
.widget_wysija_cont .login .message {
	background: #0288d1;
	color: #fff;
	border-color: #fff;
}

.jcf-scrollable-wrapper {
	box-sizing: content-box;
	position: relative;
	z-index: 10;
}

.jcf-scrollbar-vertical {
	position: absolute;
	cursor: default;
	background: #d3dbe5;
	width: 8px;
	bottom: 0;
	right: 0;
	top: 0;
	border-radius: 3px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	background: #aabdcc;
	height: 0;
	width: 0;
	left: 0;
	top: 0;
}

.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	top: auto;
	bottom: 0;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	background: #aabdcc;
	height: 1px;
	width: 8px;
	border-radius: 3px;
}

.jcf-scrollbar-horizontal {
	position: absolute;
	background: #d3dbe5;
	right: auto;
	top: auto;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 8px;
	border-radius: 3px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background: #aabdcc;
	height: 0;
	width: 0;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	left: auto;
	right: 0;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 8px;
	border-radius: 3px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
	position: absolute;
	background: #aabdcc;
	height: 8px;
	border-radius: 3px;
}

.jcf-scrollable {
	max-width: 100%;
	overflow: auto;
}

.table-section .jcf-scrollable {
	max-height: 495px;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
	visibility: hidden;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
	background: #edf0f4;
}

.slick-slider {
	max-width: 1256px;
	margin: 0 auto;
	position: relative;
	padding: 0 50px 50px;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
	position: absolute;
	background: transparent;
	border: 0;
	padding: 0;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	transition: background .3s ease;
	color: #d3dbe5;
	font-size: 38px;
	line-height: 1;
}

.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
	content: "\e900";
	font-family: "icomoon", ui-serif !important;
	display: block;
}

.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover {
	color: #0288d1;
}

.slick-slider .slick-prev:hover:before,
.slick-slider .slick-next:hover:before {
	animation: bounceLeft 1s;
}

.slick-slider .slick-prev:focus,
.slick-slider .slick-next:focus {
	outline: none;
}

.slick-slider .slick-next {
	left: auto;
	right: 0;
}

.slick-slider .slick-next:before {
	content: "\e901";
}

.slick-slider .slick-next:hover:before {
	animation: bounceRight 1s;
}

.slick-slider .slick-dots {
	position: absolute;
	left: 15px;
	right: 15px;
	text-align: center;
	bottom: 15px;
	margin: 0 0 -6px;
	letter-spacing: -4px;
}

.slick-slider .slick-dots li {
	padding: 0 6px 6px;
	line-height: 0;
	letter-spacing: 0;
	display: inline-block;
	vertical-align: middle;
}

.slick-slider .slick-dots li.slick-active button {
	background: #52688e;
}

.slick-slider .slick-dots button {
	padding: 0;
	border: 0;
	text-indent: -9999px;
	overflow: hidden;
	width: 8px;
	height: 8px;
	background: #d3dbe5;
	border-radius: 50%;
	transition: background .3s ease;
	outline: none;
}

.slick-slider .slick-dots button:hover {
	background: #52688e;
}

.testimonials-slider {
	color: #52688e;
	font-size: 13px;
}

@media (min-width: 768px) {
	.testimonials-slider {
		font-size: 14px;
		line-height: 1.428;
	}
}

@media (min-width: 768px) {
	.testimonials-slider .slick-track {
		letter-spacing: -4px;
	}
}

@media (min-width: 768px) {
	.testimonials-slider .slide {
		padding: 0 15px;
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 0;
		float: none;
	}
}

@media (min-width: 1300px) {
	.testimonials-slider .slide {
		padding: 0 35px;
	}
}

.testimonials-slider .text-blockquote {
	background: #edf0f4;
	margin: 0 0 8px;
	padding: 24px 15px;
	border-radius: 50px 28px 75px 13px;
	position: relative;
}

@media (min-width: 768px) {
	.testimonials-slider .text-blockquote {
		padding: 24px 26px;
	}
}

.testimonials-slider .text-blockquote:before {
	content: "";
	position: absolute;
	top: calc(100% - 32px);
	left: 12px;
	width: 52px;
	height: 52px;
	background: #edf0f4;
	border-radius: 37px;
	z-index: -2;
}

@media (min-width: 768px) {
	.testimonials-slider .text-blockquote:before {
		left: 26px;
	}
}

.testimonials-slider .text-blockquote:after {
	content: "";
	position: absolute;
	top: calc(100% - 22px);
	left: 33px;
	width: 52px;
	height: 52px;
	background: #fff;
	border-radius: 50%;
	z-index: -1;
}

@media (min-width: 768px) {
	.testimonials-slider .text-blockquote:after {
		left: 47px;
	}
}

.testimonials-slider .title {
	display: block;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	margin: 0 0 7px;
}

.testimonials-slider p {
	margin-bottom: 15px;
}

@media (min-width: 768px) {
	.testimonials-slider p {
		margin-bottom: 30px;
	}
}

.testimonials-slider .rating-list {
	-ms-flex-pack: center;
	justify-content: center;
}

.testimonials-slider .author-blockquote {
	padding: 0 0 0 42px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}

@media (min-width: 768px) {
	.testimonials-slider .author-blockquote {
		padding-left: 62px;
	}
}

.testimonials-slider .picture-holder {
	margin: 0 15px 0 0;
}

.testimonials-slider .name {
	font-weight: 700;
}

.post-slider.slick-slider {
	padding-bottom: 40px;
}

@media (min-width: 768px) {
	.post-slider.slick-slider {
		padding-bottom: 60px;
	}
}

.post-slider.slick-slider .slick-dots {
	bottom: 0;
}

@media (min-width: 768px) {
	.post-slider .slick-list {
		margin: 0 -10px;
	}
}

.post-slider .slide {
	padding: 0 10px;
}

@keyframes bounceLeft {
	0%,
	20%,
	60%,
	100% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(-20px);
	}
	80% {
		transform: translateX(-10px);
	}
}

@keyframes bounceRight {
	0%,
	20%,
	60%,
	100% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(20px);
	}
	80% {
		transform: translateX(10px);
	}
}

.breadcrumb-holder {
	background: #0091ea;
	font-size: 9px;
	line-height: 12px;
	color: #fff;
}

.breadcrumb {
	border-radius: 0;
	margin: 0;
}

.breadcrumb > li + li:before {
	padding: 0 6px;
}

.breadcrumb > .active {
	font-weight: 700;
}

.breadcrumb a {
	color: #a1e0ff;
}

.breadcrumb a:hover {
	color: #fff;
}

.layout-wrap {
	overflow: hidden;
}

.sticky-table {
	position: absolute;
	left: 0;
	top: 0;
}

.sticky-table tbody {
	display: none !important;
}

.table-box {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.table-box .info-table {
	width: 100%;
}

.table-box td,
.table-box th {
	padding: 10px 15px;
}

.table-box td:first-child,
.table-box th:first-child {
	width: 15%;
}

.table-box td:nth-child(2),
.table-box th:nth-child(2) {
	width: 12%;
}

.table-box td:nth-child(3),
.table-box th:nth-child(3) {
	width: 11%;
}

.table-box td:nth-child(4),
.table-box th:nth-child(4) {
	width: 10%;
}

.table-box td:nth-child(5),
.table-box th:nth-child(5) {
	width: 18%;
}

.table-box td:nth-child(6),
.table-box th:nth-child(6) {
	width: 13%;
}

.table-box th {
	font-weight: 400;
	background: #d3dbe5;
	border: solid #aabdcc;
	border-width: 0 0 1px 1px;
}

.table-box th:first-child {
	border-radius: 3px 0 0;
	border-left: 0;
}

.table-box th:last-child {
	border-radius: 0 3px 0 0;
}

.table-box tr:nth-child(even) td {
	background: #dfe4ea;
}

.table-box tr:last-child td:first-child {
	border-radius: 0 0 0 3px;
}

.table-box tr:last-child td:last-child {
	border-radius: 0 0 3px 0;
}

.table-box td {
	padding: 8px 15px;
	background: #edf0f4;
	border: solid #aabdcc;
	border-width: 0 0 0 1px;
}

.table-box td:first-child {
	border-left: 0;
}

.table-box .bold {
	font-weight: 600;
}

.table-box a {
	font-weight: 800;
	color: #0091ea;
}

.table-box a:hover {
	color: #0288d1;
}

.table-box .time-holder {
	display: block;
}

.table-box .time-holder .date {
	float: left;
	width: 70%;
}

.table-box .time-holder .time {
	float: right;
	width: 29%;
	text-align: right;
}

.table-box {
	border: 0;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.table-box {
		margin-bottom: 64px;
	}
}

.dataTables_wrapper {
	margin-bottom: 0 !important;
}

.tablepress {
	font-size: 12px;
	line-height: 16px;
	margin-top: 35px;
	margin-bottom: 15px;
}

@media (min-width: 992px) {
	.tablepress {
		font-size: 16px;
		line-height: 20px;
	}
}

.tablepress .sorting_desc:after,
.tablepress .sorting_asc:after,
.tablepress .sorting:after {
	right: 0 !important;
}

@media (min-width: 992px) {
	.tablepress .sorting_desc:after,
	.tablepress .sorting_asc:after,
	.tablepress .sorting:after {
		right: 5px !important;
	}
}

.tablepress thead th {
	font-weight: 400 !important;
	border: solid #aabdcc !important;
	border-width: 0 0 1px 1px !important;
	vertical-align: top !important;
	padding: 7px 10px 7px 7px !important;
	background: #d3dbe5 !important;
}

@media (min-width: 992px) {
	.tablepress thead th {
		padding: 14px !important;
	}
}

.tablepress thead th:first-child {
	border-radius: 3px 0 0;
	border-left: 0 !important;
}

.tablepress thead th:last-child {
	border-radius: 0 3px 0 0;
}

.tablepress tbody.row-hover tr.odd:hover td {
	background: #dfe4ea;
}

.tablepress tbody.row-hover tr.even:hover td {
	background: #edf0f4;
}

.tablepress tbody td {
	padding: 9px 7px;
	border: solid #aabdcc;
	border-width: 0 0 0 1px;
	border-top: 0 !important;
}

@media (min-width: 992px) {
	.tablepress tbody td {
		padding: 16px 14px;
	}
}

.tablepress tbody td:first-child {
	border-left: 0;
}

.tablepress tbody .odd td {
	background: #dfe4ea;
}

.tablepress tbody .even td {
	background: #edf0f4;
}

.tablepress .green {
	color: #00c853;
}

.tablepress .red {
	color: #e64e3f;
}

@media (max-width: 992px) {
	.testimonials-slider:not(.slick-initialized) .slide {
		width: calc(100% / 2);
	}

	.testimonials-slider:not(.slick-initialized) .slide:nth-of-type(n+3) {
		display: none;
	}
}

@media (max-width: 768px) {
	.testimonials-slider:not(.slick-initialized) .slide {
		width: 100%
	}

	.testimonials-slider:not(.slick-initialized) .slide:nth-of-type(n+2) {
		display: none;
	}
	
}
@media (max-width: 767px) {
	.nav-drop{
		left: 0;
		right: 0px;
		box-shadow: none;
	}
	.nav-drop:before{
		display: none;
	}
	.nav-drop ul li{
		margin-top: 0;
		padding: 10px 0;
		border-bottom: 1px solid #0091ea;
	}
	.nav-drop ul a{
		font-size: 18px;
		font-weight: 700;
	}
	.nav-drop .title{
		font-size: 20px;
		font-weight: 700;
		color: #0091ea;
	}
}
@media (max-width: 479px) {
	.nav-drop ul a{
		font-size: 14px;
	}
	.nav-drop .title{
		font-size: 16px;
	}
}